.popup__close-button_place_profile {
  width: 20px;
  height: 20px;
  right: 0;
  top: -44px;
}

@media screen and (min-width: 768px) {
  .popup__close-button_place_profile {
    width: 32px;
    height: 32px;

    right: -35px;
    top: -35px;
  }
}
