.profile__edit-button {
  background-color: unset;
  border: 1px solid #ffffff;
  min-height: 16px;
  min-width: 16px;

  margin-left: 10px;
  margin-bottom: 7px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .profile__edit-button {
    margin-left: 18px;
    margin-bottom: 9px;
    min-height: 22px;
    min-width: 22px;
  }
}
