.popup__close-button {
  background-image: url(../../../image/icon/Close_Icon.svg);
  background-position: center;
  padding: 0;
  position: absolute;

  border: none;
  background-color: transparent;
  cursor: pointer;

  width: 20px;
  height: 20px;
  right: 0;
  top: -30px;
}

@media screen and (min-width: 768px) {
  .popup__close-button {
    width: 31px;
    height: 31px;
    right: -37px;
    top: -35px;
  }
}