.profile__edit-icon {
  background-image: url(../../../image/icon/Edit_Button.svg);
  background-position: center;

  background-repeat: no-repeat;
  height: 7.5px;
  width: 7.5px;
}

@media screen and (min-width: 900px) {
  .profile__edit-icon {
    height: 10px;
    width: 10px;
  }
}
