.header {
  display: flex;

  padding: 0;
  margin: auto;
  margin-top: 28px;
  margin-bottom: 42px;

  min-height: 55px;
  max-width: 880px;

  border-bottom: 1px solid rgb(33%, 33%, 33%, 0.7);
}

@media screen and (min-width: 935px) {
  .header {
    margin-top: 45px;
    margin-bottom: 40px;
    min-height: 73px;
  }
}
