.profile__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  margin: 0;
}

@media screen and (min-width: 935px) {
  .profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: start;
  }
}
