.profile__title {
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;

  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .profile__title {
    text-align: start;
  }
}
@media screen and (min-width: 935px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
  }
}
