.popup__window_place_element {
  padding: 30px 20px;
  margin: 0px 40px;

  width: 430px;
  min-height: 258px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .popup__window_place_element {
    min-height: 330px;
    margin: auto;
    padding: 34px 36px 37px;
    text-align: left;
  }
}
