.profile__add-button {
  width: 282px;
  height: 50px;
  padding: 0px;
  margin: 0;

  background-color: unset;
  background-image: url(../../../image/icon/Add_Button.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 16px;

  border: 2px solid #ffffff;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .profile__add-button {
    width: 150px;
    background-size: 24px;
  }
}
