@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/link-opacity/link-opacity.css);
@import url(../blocks/error/error.css);
@import url(../blocks/error/_active/error_active.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__edit-button/_place/profile__edit-button_place_avatar.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__title-container/profile__title-container.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__container/elements__container.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__container/element__container.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__button-like/element__button-like.css);
@import url(../blocks/element/__button-like/_active/element__button-like_active.css);
@import url(../blocks/element/__container-like/element__container-like.css);
@import url(../blocks/element/__like-counter/element__like-counter.css);
@import url(../blocks/element/__button-delete/element__button-delete.css);
@import url(../blocks/element/__button-delete/_active/element__button-delete_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_place/popup_place_image.css);
@import url(../blocks/popup/_visible/popup_visible.css);
@import url(../blocks/popup/__window/popup__window.css);
@import url(../blocks/popup/__window/_place/popup__window_place_image.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__title/_place/popup__title_place_element.css);
@import url(../blocks/popup/__title/_place/popup__title_place_image.css);
@import url(../blocks/popup/__title/_place/popup__title_place_avatar.css);
@import url(../blocks/popup/__title/_place/popup__title_place_delete-card.css);
@import url(../blocks/popup/__form-text/popup__form-text.css);
@import url(../blocks/popup/__form-text/_state/popup__form-text_state_invalid.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__save-button/_state/popup__save-button_state_invalid.css);
@import url(../blocks/popup/__image/popup__image.css);
