.popup__close-button {
  position: absolute;
  right: 0;
  top: -39px;
  background-image: url(../../../image/icon/Close_Icon.svg);
  background-position: center;
  width: 20px;
  height: 20px;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}
